# Built artifacts and Gradle
build/
.gradle/
.kotlin/

# Local configuration file (sdk path, etc)
local.properties
/local.properties

# Log Files
*.log
/builderors.md
/logs.md

# Android Studio Local Config/Cache/Caches
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/shelf/
.idea/locks/
.idea/copilot/
*.iml

# OS/System files
.DS_Store

# Android build outputs and signatures
*.apk
*.aab
*.dm
/app/release/
*.jks
*.keystore
google-services.json
